#film-title
{
    color: #2299FF;
    font-size: 36px;
    text-align: center;
}

#film-image
{
    display: block;
    text-align: center;
}

.film-description
{
    color: #33BBFF;
    font-size: 24px;
    text-align: center;
}

#recommendation
{
    color: #DDDDFF;
    font-size: 36px;
    padding-top: 240px;
}

#film-data
{
    float: left;
    padding-right: 25px;
    padding-top: 20px;
}

#end
{
    clear:both;
}